* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #6e6cdad0;
}

div#imagem {
  background-color: white;
  text-align: center;
  margin: 5% 20%;
  padding-bottom: 1%;
  border: 2px solid black;
  border-radius: 10px;
}
